In [10]:
import pandas as pd


data = pd.read_excel(
    'data.xlsx', 
    sheet_name='Бланк Заказа',
    header=4)
data.head(3)

,Unnamed: 0,Артикул,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Подгруппа товара
0,NaN,22IOIGMCI2 01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3 Футболка длинный рукав
1,NaN,22I0IGMCI2 02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3 Футболка длинный рукав
2,NaN,221OIGMCI2 03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.3 Футболка длинный рукав

In [14]:
new_table = data.groupby('Подгруппа товара')['Артикул'].agg(', '.join)
new_table

Подгруппа товара
2.1 Свитер теплый                                          221OIGMC33 01
2.2 Кардиган теплый                                        221OIGMC35 01
2.5 Водолазка                                               2210IGMC32 01
2.7 Пткттье сарафан                                         22I01GMC36 01
3.1 Толстовка распашная                                     2210IGMCI6 01
3.11 Леггинсы                                               22IOIGMC13 01
3.2 Толстовка нераспашная                                   2210IGMC16 02
3.3 Футболка длинный рукав    22IOIGMCI2 01, 22I0IGMCI2 02, 221OIGMCI2 03
4.5 Платье, сарафан                                         2210IGMC25 01
5.2 Блузка длинный рукав                                    22101GMC22 01
Name: Артикул, dtype: object

In [15]:
new_table.to_excel('new_table.xlsx')